.slack-username {
    display: none;
}

.container {
    width: 70%;
    margin: 100px auto;
}

.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.share-icon {
    float: right;
    width: 40px;
    position: absolute;
    height: 40px;
    right: 500px;
    margin-top: -50px;
}

.share-iconn {
    display: none;
}

footer {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}



/* MEDIA QUERIES (SMALL DEVIVES) */
@media screen and (max-width: 600px) {
    .container {
        width: 90%;
        margin: 100px auto;
    }

    .share-icon {
        display: none;
    }

    .share-iconn {
        float: right;
        margin-top: -50px;
        display: block;
    }

    footer {
        margin-top: 50px;
        align-items: center;
    }
}